body {
  background-color:#eee;
}

#background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes example {
    0%   {background-position-y: 100px;}
    25%  {background-position-y: -100px;}
    50%  {background-position-x: 100px;
        background-position-y: 100px;}
    75%  {background-position-x: 800px;
        background-position-y: -100px;}
    100% {background-position-x: 1900px;}
}

#background.done {
    animation: example 4s;
}

img.done {
  cursor: auto;
  animation: fadeOut 2s;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

img {
  cursor: pointer;
  padding: 1px;
  width: 100%;
}
